stock-advisor/etc/advisor_config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="modules"/>
        <xs:element type="xs:string" name="database"/>
        <xs:element type="xs:string" name="reports"/>
        <xs:element name="pool">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="size"/>
              <xs:element name="timeouts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="onetask"/>
                    <xs:element type="xs:int" name="awaitTermination"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>